# Environment files with secrets
.env
*.env.local

# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
frontend/.svelte-kit/
frontend/build/
dist/

# Python
__pycache__/
*.py[cod]
backend/build/
backend/logs/
backend/.briefcase/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Data files
/data/
/backend/src/nascarpool.dist-info/INSTALLER
/backend/src/nascarpool.dist-info/METADATA
/backend/src/nascarpool.dist-info/top_level.txt
/backend/src/nascarpool.dist-info/WHEEL
/backend/src/nascarpool.dist-info/
/backend/src/nascarpool/resources/_app/
/backend/src/nascarpool/resources/
